// Copyright 2024, Command Line Inc.
// SPDX-License-Identifier: Apache-2.0

.popover-content {
    min-width: 100px;
    min-height: 150px;
    position: absolute;
    z-index: var(--zindex-popover);
    display: flex;
    padding: 2px;
    gap: 1px;
    border-radius: 6px;
    border: 1px solid var(--modal-border-color);
    background: var(--modal-bg-color);
    box-shadow: var(--modal-box-shadow);
}
